.user-contact {
  font-size: 1.4rem;
  width: 80%;
  padding-bottom: 2%;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20%;
  justify-content: center;
  align-items: center;
}
.contact-data {
  text-decoration: none;
  color: #dcdde1;
  width: 100%;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}
.icons {
  width: 10%;
}

@media (max-width: 992px) {
  .user-contact {
    width: 95%;
  }
}

@media (max-width: 576px) {
  .user-contact {
    width: 100%;
    margin-top: 10%;
  }
}

@media (max-width: 480px) {
  .user-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
}
