.userInfo {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 12% 6%;
  width: 90%;
  margin: 0 0 5% auto;
}
.userImage {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  grid-area: 1/1/3/2;
}
.userInfoIntro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.6rem;
}
.userInfoHandle {
  color: #245ea9;
  font-size: 1.4rem;
  margin-top: 1%;
}
.userInfoBio {
  font-size: 1.3rem;
  grid-column-start: 2;
}
.userInfoDate {
  font-size: 1.4rem;
}

@media (max-width: 992px) {
  .userInfo {
    gap: 12% 6%;
    margin-bottom: 10%;
  }
  .userImage {
    grid-area: 1/1/2/2;
  }
  .userInfoIntro {
    flex-direction: column;
    gap: 0.6rem;
  }
  .userInfoBio {
    grid-column: 1/3;
  }
}

@media (max-width: 576px) {
  .userInfo {
    width: 100%;
    margin: 0 0 15%;
  }
}
