* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.body {
  font-family: "Space Mono", monospace;
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 10%;
  color: #dcdde1;
  background-color: #141c2f;
}
.display-card {
  width: 60%;
  height: fit-content;
  padding-bottom: 10rem;
  margin: 0 auto;
}

@media (max-width: 992px) {
  html {
    font-size: 70%;
  }
  .display-card {
    width: 90%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 50%;
  }
}
