* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.body {
  min-width: 100vw;
  min-height: 100vh;
  padding: 10%;
  color: #dcdde1;
  background-color: #141c2f;
}
.display-card {
  width: 90%;
  height: 60%;
  margin: 0 auto;
  /* background-color: #1864ab; */
}
